<header>
  <div fxFill fxLayoutAlign="center center" fxLayout="column">
    <div class="title">
      Emma's Dog Services
    </div>
    <div class="subtitle">Subtitle stuff!</div>
    <div>
      <a mat-raised-button routerLink="/contactus">Contact Us!</a>
    </div>
  </div>
</header>

<section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="40" fxFlex.xs="100" fxLayoutAlign="center center">
    <img fxFlex="70" fxFlex.xs="60" src="https://images.theconversation.com/files/205966/original/file-20180212-58348-7huv6f.jpeg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="Emma and Alfie">
  </div>
  <div class="text-container" fxLayout="column" fxFlex="50" fxLayoutAlign="center">
    <div class="mat-h1">Title 1</div>
    <div class="mat-h3">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo
      consequat.
    </div>
  </div>
</section>

<section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxHide fxShow.xs="true" fxFlex="40" fxFlex.xs="100" fxLayoutAlign="center center">
    <img fxFlex="70" src="https://o.aolcdn.com/images/dims3/GLOB/crop/4854x3182+0+0/resize/1028x675!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Ff33fccca6149a8881f55cfbf6ac7ba1b%2F206112280%2Fgerman-shepherd-puppy-in-the-grass-picture-id841811318" alt="Dogs in East Park">
  </div>
  <div class="text-container" fxLayout="column" fxFlex="50" fxLayoutAlign="center">
    <div class="mat-h1">Title 2</div>
    <div class="mat-h3">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </div>
  </div>
  <div fxShow fxHide.xs="true" fxFlex="40" fxLayoutAlign="center center">
    <img fxFlex="80" src="https://o.aolcdn.com/images/dims3/GLOB/crop/4854x3182+0+0/resize/1028x675!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Ff33fccca6149a8881f55cfbf6ac7ba1b%2F206112280%2Fgerman-shepherd-puppy-in-the-grass-picture-id841811318" alt="Dogs in East Park">
  </div>
</section>


<section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxFlex="40" fxFlex.xs="100"  fxLayoutAlign="center center">
    <img fxFlex="70" fxFlex.xs="60" src="https://dynaimage.cdn.cnn.com/cnn/w_768,h_1024,c_scale/https%3A%2F%2Fdynaimage.cdn.cnn.com%2Fcnn%2Fx_1085%2Cy_0%2Cw_2578%2Ch_3437%2Cc_crop%2Fhttps%253A%252F%252Fstamp.static.cnn.io%252F5b7ac48b4db3d70020c01c13%252Fshutterstock_757946224.jpg" alt="Emma">
  </div>
  <div class="text-container" fxLayout="column" fxFlex="50" fxLayoutAlign="center">
    <div class="mat-h1">Title 3</div>
    <div class="mat-h3">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo
      consequat.
    </div>
  </div>
</section>


<div fxLayoutAlign="center center">
  <a mat-raised-button color="primary" routerLink="/contactus">Contact Us!</a>
</div>

