<header>
  <div class="page-title">
    Contact Us
  </div>
</header>

<section fxLayoutAlign="center center">
  <mat-card fxFlex="90" fxLayoutAlign="center center">
    <form fxFlex="90" fxLayout="column">
      <mat-card-title>
        Please fill in the form with your enquiry
      </mat-card-title>
      <mat-card-content fxFlex="80" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enquiry</mat-label>
          <textarea rows="10" matInput placeholder="Enter your enquiry"></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button type="submit" color="primary">SUBMIT</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</section>
