<header style="background-color: #673ab7; color: white; padding-top: 24px;">
  <div style="font-size: 20px; font-weight: 300; line-height: 28px; margin-bottom: 24px; margin-left: 40px">
    Contact Us
  </div>
</header>

<section fxFlex="60" style="padding: 16px" fxLayoutAlign="center center">
  <mat-card fxFlex="90" fxLayoutAlign="center center" style="margin-top: 60px">
    <div fxFlex="90" fxLayout="column">
      <mat-card-title>
        Please fill in the form with your enquiry
      </mat-card-title>
      <mat-card-content fxFlex="80" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enquiry</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary">SUBMIT</button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</section>
