<header>
  <div class="page-title">
    Our Services
  </div>
</header>

<section fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.gt-xs="40" fxLayoutAlign="center center">
      <img fxFlex="50" fxFlex.gt-xs="70" src="src/group-walking2.png" alt="Dogs in park">
    </div>
    <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="50">
      <div class="mat-h1">Service 1</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="primary" routerLink="/contactus">ENQUIRE</button>
      </div>
    </div>
</section>

<section fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.gt-xs="40" fxLayoutAlign="center center">
      <img fxFlex="50" fxFlex.gt-xs="70" src="src/dogs_in_car.png" alt="Dogs in car">
    </div>
    <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="50">
      <div class="mat-h1">Service 2</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="primary" routerLink="/contactus">ENQUIRE</button>
      </div>
    </div>
</section>

<section fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.gt-xs="40" fxLayoutAlign="center center">
      <img fxFlex="50" fxFlex.gt-xs="70" src="src/trip_to_lake.png" alt="Trip to lake">
    </div>
    <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="50">
      <div class="mat-h1">Service 3</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="primary" routerLink="/contactus">ENQUIRE</button>
      </div>
    </div>
</section>
