<header style="background-color: #673ab7; color: white; padding-top: 24px;">
  <div style="font-size: 20px; font-weight: 300; line-height: 28px; margin-bottom: 24px; margin-left: 40px">
    Our Services
  </div>
</header>

<section fxFlex="60" style="padding: 16px;">
  <div style="padding-bottom: 60px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex="25">
      <img src="src/group-walking2.png" alt="Emma and Alfie" style="border-radius: 8px; width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="40">
      <div class="mat-h1">Dog Walking</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="primary">ENQUIRE</button>
      </div>
    </div>
  </div>
</section>

<section fxFlex="60" style="padding: 16px;">
  <div style="padding-bottom: 60px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex="25">
      <img src="src/dogs_in_car.png" alt="Emma and Alfie" style="border-radius: 8px; width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="40">
      <div class="mat-h1">Daytime Pick-up</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="primary">ENQUIRE</button>
      </div>
    </div>
  </div>
</section>

<section fxFlex="60" style="padding: 16px;">
  <div style="padding-bottom: 60px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex="25">
      <img src="src/trip_to_lake.png" alt="Emma and Alfie" style="border-radius: 8px; width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="40">
      <div class="mat-h1">Other Activity</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="primary">ENQUIRE</button>
      </div>
    </div>
  </div>
</section>
