<header style="background-color: #673ab7; color: white; padding-top: 24px;">
  <div style="font-size: 20px; font-weight: 300; line-height: 28px; margin-bottom: 24px; margin-left: 40px">Our
    Testimonials
  </div>
</header>

<section fxFlex="80" style="padding: 16px;">
  <div style="padding-bottom: 60px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex="10">
      <img src="src/group-walking2.png" alt="Emma and Alfie" style="border-radius: 8px; width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div class="mat-h1">John Smith</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </div>
  <div style="padding-bottom: 60px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex="10">
      <img src="src/group-walking2.png" alt="Emma and Alfie" style="border-radius: 8px; width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div class="mat-h1">Emma Walker</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </div>
  <div style="padding-bottom: 60px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex="10">
      <img src="src/group-walking2.png" alt="Emma and Alfie" style="border-radius: 8px; width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div class="mat-h1">Alfie Walker</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </div>
  <div style="padding-bottom: 60px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxFlex="10">
      <img src="src/group-walking2.png" alt="Emma and Alfie" style="border-radius: 8px; width: 100%; height: auto;">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div class="mat-h1">Susan Smith</div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </div>
</section>
