<header>
  <div class="page-title">
    Our Testimonials
  </div>
</header>

<section fxLayoutAlign="center center">
  <mat-card fxFlex="80" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxShow fxHide.xs="true">
      <img src="https://www.vrc.crim.cam.ac.uk/VRCconferences/conference/cplenaries/pelnspeakers/person-placeholder.jpg/image" alt="Emma and Alfie">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="mat-h1">John Smith</div>
        <div class="rating">10/10</div>
      </div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </mat-card>
</section>
<section fxLayoutAlign="center center">
  <mat-card fxFlex="80" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxShow fxHide.xs="true">
      <img src="https://www.vrc.crim.cam.ac.uk/VRCconferences/conference/cplenaries/pelnspeakers/person-placeholder.jpg/image" alt="Emma and Alfie">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="mat-h1">Emma Walker</div>
        <div class="rating">9/10</div>
      </div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </mat-card>
</section>
<section fxLayoutAlign="center center">
  <mat-card fxFlex="80" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxShow fxHide.xs="true">
      <img src="https://www.vrc.crim.cam.ac.uk/VRCconferences/conference/cplenaries/pelnspeakers/person-placeholder.jpg/image" alt="Emma and Alfie">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="mat-h1">Jack McCormack</div>
        <div class="rating">10/10</div>
      </div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </mat-card>
</section>
<section fxLayoutAlign="center center">
  <mat-card fxFlex="80" fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxShow fxHide.xs="true">
      <img src="https://www.vrc.crim.cam.ac.uk/VRCconferences/conference/cplenaries/pelnspeakers/person-placeholder.jpg/image" alt="Emma and Alfie">
    </div>
    <div fxLayout="column" fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="mat-h1">Anne Susan</div>
        <div class="rating">10/10</div>
      </div>
      <div class="mat-h3">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua."
      </div>
    </div>
  </mat-card>
</section>
